

<ion-content class="home-screen">
  <!-- <ion-grid no-padding>
      <ion-row>
          <ion-col size="8" no-padding class="bm-body">
              <div class="bm-left"></div>
              <div class="bm-right"></div>
          </ion-col>
      </ion-row>
  </ion-grid> -->
  <div class="bm-body"><!-- class="bm-body"> -->
      <div class="bm-left"></div>
      <div class="bm-right"></div>
  </div>

  <div class="home-buttons">
    <ion-grid>
      <ion-row>
        <ion-col
          text-center
          size="12"
          offset-md="3"
          size-md="6"
        >
          <ion-button [routerLink]="['/', 'monster-generator', 'build-monster']" class="menu-btn">
            Build Monster
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          text-center
          size="12"
          offset-md="3"
          size-md="6"
        >
          <ion-button class="menu-btn">
            See Monsters
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col
            text-center
            size="12"
            offset-md="3"
            size-md="6"
          >
            <ion-button [routerLink]="['/', 'settings']" class="menu-btn">
              Settings
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  </ion-content>
