<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--       <ion-back-button defaultHref="/monster-builder"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Build Monster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p class="test-text">Bebas Neue</p> -->

  <ion-grid>
    <ion-row>
      <ion-col text-left size="4" offset-md="3" size-md="3">
          <ion-icon name="custom-level-btn"></ion-icon>
        <ion-button class="levelButton" (click)="levelPicker()"
          >Level {{ selectedLevel.text }}</ion-button
        >
      </ion-col>
      <ion-col text-center size="8" size-md="3">
        <ion-item padding-left>
          <ion-label *ngIf="!selectedTemplate">Template</ion-label>
          <ion-label *ngIf="!selectedTemplate">{{
            selectedTemplate
          }}</ion-label>
          <ion-select
            no-padding
            placeholder="Select One"
            [(ngModel)]="selectedTemplate"
          >
            <ion-select-option value="Warrior">Warrior<ion-button >TEST</ion-button></ion-select-option>
            <ion-select-option value="Tank">Tank</ion-select-option>
            <ion-select-option value="Sniper">Sniper</ion-select-option>
            <ion-select-option value="Support">Support</ion-select-option>
            <ion-select-option value="Wizard">Wizard</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left size="12" offset-md="3" size-md="6">
        <mat-expansion-panel class="alignment-picker"  [expanded]="expandAlignmentPicker == true">
          <mat-expansion-panel-header (click)="toggleAlignmentPickerExpansion()">
            <mat-panel-title>
              Alignment
            </mat-panel-title>
            <mat-panel-description *ngIf="!selectedAlignment">
              Choose Alignment
            </mat-panel-description>
            <mat-panel-description *ngIf="selectedAlignment">
              {{ selectedAlignment }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div text-left>
            <button mat-button (click)="pickAlignment('LG')" class="alignment-btn">LG</button>
            <button mat-button (click)="pickAlignment('NG')" class="alignment-btn">NG</button>
            <button mat-button (click)="pickAlignment('CG')" class="alignment-btn">CG</button>
          </div>
          <div text-left>
            <button mat-button (click)="pickAlignment('LN')" class="alignment-btn">LN</button>
            <button mat-button (click)="pickAlignment('N')" class="alignment-btn">N</button>
            <button mat-button (click)="pickAlignment('CN')" class="alignment-btn">CN</button>
          </div>
          <div text-left>
            <button mat-button (click)="pickAlignment('LE')" class="alignment-btn">LE</button>
            <button mat-button (click)="pickAlignment('NE')" class="alignment-btn">NE</button>
            <button mat-button (click)="pickAlignment('CE')" class="alignment-btn">CE</button>
          </div>
        </mat-expansion-panel>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left size="12" offset-md="3" size-md="3">
        <ion-item>
          <ion-label position="floating">Creature Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="3" size-md="6" class="input-group">
          <div class="picker-button-container">
        <ion-button (click)="perceptionPicker()">Perception</ion-button>
          </div>
        <div class="picker-value-container" text-center>
          <ion-item>
              <ion-input
                *ngIf="selectedPerception"
                inputmode="numeric"
                value="+{{ selectedPerception.value }}"
              ></ion-input>
            </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left size="6" offset-md="3" size-md="3">
        <ion-button >Skills</ion-button>
      </ion-col>
      <ion-col text-center size="6" size-md="3">
        <p *ngIf="selectedSkill['test']">+{{ selectedSkill["test"].value }}</p>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap: nowrap>
      <ion-col size="12" offset-md="3" size-md="4">
        <div>
          <ion-button *ngIf="!selectedAbilityMod['str']" (click)="abilityModPicker('str')">STR</ion-button>
          <ion-button *ngIf="selectedAbilityMod['str']" (click)="abilityModPicker('str')">STR +{{ selectedAbilityMod["str"].value }}</ion-button>
          <ion-button *ngIf="!selectedAbilityMod['dex']" (click)="abilityModPicker('dex')">DEX</ion-button>
          <ion-button *ngIf="selectedAbilityMod['dex']" (click)="abilityModPicker('dex')">DEX +{{ selectedAbilityMod["dex"].value }}</ion-button>
          <ion-button *ngIf="!selectedAbilityMod['con']" (click)="abilityModPicker('con')">CON</ion-button>
          <ion-button *ngIf="selectedAbilityMod['con']" (click)="abilityModPicker('con')">CON +{{ selectedAbilityMod["con"].value }}</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap: nowrap>
        <ion-col size="12" offset-md="3" size-md="4">
          <div>
            <ion-button *ngIf="!selectedAbilityMod['int']" (click)="abilityModPicker('int')">INT</ion-button>
            <ion-button *ngIf="selectedAbilityMod['int']" (click)="abilityModPicker('int')">INT +{{ selectedAbilityMod["int"].value }}</ion-button>
            <ion-button *ngIf="!selectedAbilityMod['wis']" (click)="abilityModPicker('wis')">WIS</ion-button>
            <ion-button *ngIf="selectedAbilityMod['wis']" (click)="abilityModPicker('wis')">WIS +{{ selectedAbilityMod["wis"].value }}</ion-button>
            <ion-button *ngIf="!selectedAbilityMod['cha']" (click)="abilityModPicker('cha')">CHA</ion-button>
            <ion-button *ngIf="selectedAbilityMod['cha']" (click)="abilityModPicker('cha')">CHA +{{ selectedAbilityMod["cha"].value }}</ion-button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
