<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Enable Online Storage</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col text-center size="12" offset-md="3" size-md="6">
        <ion-button>
          Export Monster Data
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
